.ant-tree-title{
  white-space:nowrap;
}
.option-btn-pane {
  margin-left: 0px;
  button {
    color: #fff;
    background-color: #1890ff;
    border-color: #fff;
    border-width: 1px;
    padding-top: 0px;
    padding-bottom: 0px;
    outline: none;
    margin: 0px;
    -webkit-appearance: none;
  }
}
.input-edit{
  line-height: 24px;
  text-align: center;
  color:rgba(0, 0, 0, 0.65);
  display: inline-block;
  border-width: 1px;
  width: 55.42px;
}
